@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    font-family: "Abril Fatface", serif;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: darkgrey;
}

#hero{
    padding: 0 80px; 
    height: 500px;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    background-image: url(images/Screenshot%202025-10-16%20091857.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#hero h2{
    color: red;
    font-family: "Abril Fatface", serif;;
}
#hero h1{
    color: red;
    font-family: "Abril Fatface", serif;
}

.button{
    background-color: red;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    border-radius: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
}

.button:hover {
  background-color: black; 
  color: red;
}

#product1 {
   text-align: center;
   font-family: "Abril Fatface", serif;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid;
    border-radius: 25px;    
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: center;
    padding: 10px 0; 
    font-family: "Poppins", sans-serif;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#aboutus{
    width: 800px;
    padding: 10px 12px;
    border: 1px solid;
    border-radius: 25px;    
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    justify-content: center;
    background-color: black;
    color: white;
    align-items: center; 
    margin: 5px auto; 
}

#aboutus h2{
    text-align: center;
    font-family: "Abril Fatface", serif;
}

footer {
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    background-color: black;
    position: sticky;
    top: 100vh;
    font-family: "Poppins", sans-serif;
}

.email_hyperlink{
    color: white;
    text-decoration: none;
}

.email_hyperlink:hover{
    color: skyblue;
}

#page-header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    color: white;
    background-color: red;
    font-family: "Abril Fatface", serif;
}

#about{
    padding: 50px;
}

#about .box{
    display: flex;
    align-items: center;
    width: 100%;
}

#about .img{
    margin-right: 40px;
    object-fit: cover;
    padding-left: 150px;
}

#about .details{
    width: 50%;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

#page-sales{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    color: white;
    background-color: red;
    font-family: "Abril Fatface", serif;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#form-details form span{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

#form-details form h2{
    font-size: 26px; 
    line-height: 35px;
    padding: 20px 0;
    font-family: "Abril Fatface", serif;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: red;
    color: white;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-family: "Poppins", sans-serif;
}

#form-details form button:hover{
  background-color: black; 
  color: red;
}

#form-details{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 80px; border: 1px solid;
}

.accordian{
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    font-family: "Abril Fatface", serif;
}


.panel{
    padding: 0 2rem 2.5rem 2rem;
    background-color: lightgrey;
    color: black;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.faq-container{
    border: 1px solid;
    margin: 10px 0;
}

faq-container.active {
    border: none;
}

.faq-h1{
    margin: 1.5rem;
    text-align: center;
    font-family: "Abril Fatface", serif;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: darkred;
    color: white;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    padding: 40px 80px;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    font-family: "Abril Fatface", serif;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

#newsletter p span{
    color: pink;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    font-family: "Poppins", sans-serif;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: black;
    color: white;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h6{
    font-family: "Abril Fatface", serif;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
    font-family: "Abril Fatface", serif;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
    font-family: "Abril Fatface", serif;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease; 
    font-family: "Poppins", sans-serif;
}

#prodetails .single-pro-details button:hover{
    background-color: red;
    color: white;
}

.section-p1{
    padding: 40px 80px;
}
