@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: darkgrey;
}

#hero{
    padding: 0 80px; 
    height: 700px;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    background-image: url(images/Screenshot%202025-10-07%20133437.png);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h2{
    color: red;
}
#hero h1{
    color: red;
}

.button{
    background-color: red;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    border-radius: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.button:hover {
  background-color: black; 
  color: red;
}

#product1 {
   text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid;
    border-radius: 25px;    
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: center;
    padding: 10px 0; 
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#aboutus{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid;
    border-radius: 25px;    
    margin: 15px 0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    justify-content: center;
    background-color: black;
    color: white;
}

#aboutus h2{
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    background-color: black;
    position: sticky;
    top: 100vh;
}

#page-header{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    color: white;
    background-color: red;
}

#about{
    padding: 50px;
}

#about .box{
    display: flex;
    align-items: center;
    width: 100%;
}

#about .img{
    margin-right: 40px;
    object-fit: cover;
}

#about .details{
    width: 50%;
    text-align: left;
}

#page-sales{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    color: white;
    background-color: red;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#form-details form span{
    font-size: 12px;
}

#form-details form h2{
    font-size: 26px; 
    line-height: 35px;
    padding: 20px 0;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: red;
    color: white;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#form-details form button:hover{
  background-color: black; 
  color: red;
}

#form-details{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 80px; border: 1px solid #e1e1e1;
}
