@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    background-color: black;
    position: absolute;
    margin: 0;
    margin-left: -680px;
}
body {
    font-family: 'Bodoni Moda', serif;
    margin: 0;
}

.nav { 
    flex: 1;
    text-align: right;
    width: auto;
    list-style: none;
}
.nav ul {
    display: inline-block;
    list-style-type: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
  display: inline-block; /* Makes list items sit next to each other */
  /* OR */
  /* float: left; */ /* Floats items to the left */
  margin-right: 20px; /* Optional: Add spacing */
}

.nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a { 
   text-decoration: none;
   color: white;
}

nav a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
}

nav a:hover {
  background-color: #ddd;
}

p {
  color: white;  
}
.container {
   width: 1200px;
    margin-left:auto;
    margin-right:auto;
   margin:auto;
   padding-left: 25px;
   padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: red;
    color: white;
    margin-left: -680px;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
   min-width: 100px; 
   padding: 50px 0;
   border-radius: 25%;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s
}
.btn:hover {
    background-color: white;
    color: black;
}
.header .row {
    margin-top: 70px;
}
.catergories {
    margin: 70px 0px;
}
.col-3{ 
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 50px;
    padding: 10px;
}
.col-3 img {
    width: 100%;
}
.small-container{ 
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}